:root {
  --color-background: #F8EDE3;
  --color-accent: #DFD3C3;
  --color-primary: #D0B8A8;
  --color-secondary: #C5705D;
  --color-text: #333;
  --color-white: #FFFFFF;
  --color-hover: #B8563F;
  --font-family: 'Arial', sans-serif;
}

body, h1, h2, h3, p, ul, ol, li, a, button, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
}

button:focus {
  outline: none;
}

input {
  padding: 0.5rem;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: var(--color-secondary);
  box-shadow: 0 0 5px var(--color-secondary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
